.line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.own {
  justify-content: flex-start;
}

.other {
  justify-content: flex-end;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title {
  display: flex;
  justify-content: center;
}

.mid-box {
  max-width: 800px;
  width: 90vw;
}